<footer class="custom-footer mt-5">
	<div class="container py-5">
		<div class="row">

			<div class="col-lg-6 mb-4">
				<h5 class="fw-bold">
					<i class="fa-solid fa-hotel me-2"></i>HotelListing
				</h5>
				<p class="text-muted">
					Book hotels easily, manage your listings, and enjoy seamless travel planning.
				</p>
			</div>

			<div class="col-lg-3 mb-4">
				<h6 class="fw-bold">Quick Links</h6>
				<ul class="list-unstyled footer-links">
					<li>
						<a href="/">
							<i class="fa-solid fa-house me-2"></i>Home
						</a>
					</li>
					<li>
						<a href="/listings/new">
							<i class="fa-solid fa-plus me-2"></i>Add Hotel
						</a>
					</li>
					<li>
						<a href="/contact">
							<i class="fa-solid fa-phone me-2"></i>Contact
						</a>
					</li>
				</ul>
			</div>

			<div class="col-lg-3 mb-4">
				<h6 class="fw-bold">Follow Us</h6>
				<div class="social-icons">
					<a href="#">
						<i class="fa-brands fa-facebook-f"></i>
					</a>
					<a href="#">
						<i class="fa-brands fa-twitter"></i>
					</a>
					<a href="#">
						<i class="fa-brands fa-instagram"></i>
					</a>
					<a href="#">
						<i class="fa-brands fa-youtube"></i>
					</a>
				</div>
			</div>

		</div>
	</div>

	<div class="text-center py-3 footer-bottom">
		&copy; <%= new Date().getFullYear() %> HotelListing. All rights reserved.
	</div>
</footer>
